footer{
  font-size:20px;
  height:200px;
  background-color:#f2f2f2;
  color:#70757a;
  display:flex;
  justify-content:center;
  p {
    margin-top:30px;
    a{
      text-decoration:none;
      color:#70757a;
      font-weight:500;
    }
  }
}

